In [1]:
from scipy import stats
import scikit_posthocs as sp
import numpy as np

In [2]:
data_positives = [6849, 4815, 6491, 3262, 5398,
               7885, 20040, 4535]
data_negatives = [3210, 7859, 1622, 5579, 5095,
               11725, 14805, 3231]
data_neutrals = [962, 7355, 1581, 2749, 1040,
               8921, 9629, 3944]

In [3]:
# Conduct the Friedman Test
stats.friedmanchisquare(data_positives, data_negatives, data_neutrals)

FriedmanchisquareResult(statistic=4.75, pvalue=0.09301448921066348)

In [4]:
data = np.array([data_positives, data_negatives, data_neutrals])
# Conduct the Nemenyi post-hoc test
sp.posthoc_nemenyi_friedman(data.T)

          0         1         2
0  1.000000  0.900000  0.112292
1  0.900000  1.000000  0.186906
2  0.112292  0.186906  1.000000